@import '../variables.scss';

#root {
  background-color: $secondary;
}

.container-fluid {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  background-color: $content-background;
  flex-grow: 1;
  padding: 2rem 1.5rem;
}
