@import 'variables';

.navbar {
    background-color: $secondary-dark;
}

.logos {
    position: relative;

    &::before {
        // position: absolute;
        // background-color: $secondary-background;
        // clip-path: ellipse();
        // content: '';
    }
}

.nav .nav-item .nav-link {
    border-radius: 4px;
    transition: background-color 0.2s, color 0.2s;

    &:hover {
        background-color: rgba(#fff, 0.25);
        color: #013;
    }
}

.nav .nav-item:not(:last-child) .nav-link {
    margin-right: 0.5rem;
}
