@import '~bootstrap/scss/bootstrap';
@import 'components';
@import 'views';
@import 'variables';

@import url('https://fonts.googleapis.com/css?family=Fira+Sans|Josefin+Sans');

body {
    font-family: 'Fira Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6,
.nav-link, .navbar-brand {
    font-family: 'Josefin Sans', sans-serif;
}

.navbar-brand {
    font-size: 1.75rem;
}

p {
    line-height: 1.75;
}
