@import '~bootstrap/scss/bootstrap';
@import 'components';
@import 'views';
@import 'variables';

@import url('https://fonts.googleapis.com/css?family=Fira+Sans|Josefin+Sans');

body {
    font-family: 'Fira Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6,
.nav-link, .navbar-brand {
    font-family: 'Josefin Sans', sans-serif;
}

.navbar-brand {
    font-size: 1.75rem;
}

a.underline-effect {
    position: relative;
    padding: 0.25rem 0;
    transition: color 0.2s;
    text-decoration: none;

    &::after {
        content: '';
        position: absolute;
        height: 2px;
        bottom: 0;
        width: 0;
        left: 0;
        background-color: #007bff;
        transition: width 0.2s, background-color 0.2s;
    }

    &:hover::after {
        width: 100%;
        background-color: #0056b3;
    }
}

p {
    line-height: 1.75;
}
