$content-background: #ece8d9;
$secondary-background: #00adb5;
$secondary-dark: #393e46;
$accent: #f8b500;

/*
Other options:
- f8b500, ece8d9, 00adb5, 393e46
- d7f7f5, 75cac3, 2a6171, f3d516
- 3e3838, ae7c7c, 6cbbb3, efe784
- 7b3c3c, db5f29, f0f0e4, 68bde1
*/